/*citation animatio*/


.bandeau{
    z-index: 998;
    animation-duration: 0.25s;
    animation-name: arrive;
    position: fixed;
    height: 103.22rem;
    top: -100rem;
    width: 37.5rem;
}

@keyframes arrive {
    from{
        transform: translateY(100rem);
    }
    to{
        transform: translateY(0rem);
    }
}
@keyframes depart {
    from{
        transform: translateY(0rem);
    }
    to{
        transform: translateY(100rem);
    }
}
.bandeau-open .bandeau{
    animation-duration: 0.25s;
    animation-name: depart;
}

.citation>.citation_couverte{
    font-size: 0;
    height: 0;
    transition: all 600ms ease-in-out;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
    filter: opacity(0%);
}
.citation.active>.citation_couverte{
    font-size: 16px;

    height: 100%;
    filter: opacity(100%);
}

.citation .a-{
    display: none;
}
.citation .a\+{
    display: block;
}
.citation.active .a-{
    display: block;
}
.citation.active .a\+{
    display: none;
}


/*background*/
.menu{
    position: fixed;
    z-index: 999;
}
.galerie{
    z-index: 997;
    position: absolute;
}
.menu,.galerie{
    left: 0;
    top: -300vw;
    right: 0;
    bottom: 300vw;
    transition: ease-in-out .25s;
    transition-delay: .25s;
}
.menu-open .menu,.galerie-open .galerie{
    top: 0;
    bottom: 0;
    transition-delay: 0s;
}
.galerie-open main{
    position: fixed;
    animation-delay: 3s;
}
main{
    position: relative;
    transition-delay: 0s;
}


/*bas-gauche*/
.menu .les-petits-articles:first-of-type{
    transform: translateX(-50vw) translateY(50vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-petits-articles:first-of-type{
    transform: translateX(0) translateY(0);

    transition-delay: .3s;
}


/*bas-droite*/
.menu .les-petits-articles:last-of-type{
    transform: translateX(50vw) translateY(50vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-petits-articles:last-of-type{
    transform: translateX(0) translateY(0);
    transition-delay: .3s;
}


/*moyen 1er*/
.menu .les-articles:first-of-type{
    transform: translateX(100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:first-of-type{
    transform: translateX(0);
    transition-delay: .3s;
}


/*moyen2eme*/
.menu .les-articles:nth-child(2n){
    transform: translateX(-100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:nth-child(2n){
    transform: translateX(0);
    transition-delay: .3s;
}

/*moyen 3eme*/
.menu .les-articles:nth-child(3n){
    transform: translateX(100vw);
    transition: ease-in-out .1s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:nth-child(3n){
    transform: translateX(0);
    transition-delay: .3s;
}

/*grand*/
.menu .les-gros-articles{
    transform: translateY(-100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-gros-articles{
    transform: translateY(0);
    transition-delay: .3s;
}


