/*citation animatio*/


.bandeau{
    animation-duration: .5s;
    animation-name: arrive;
    position: fixed;
    z-index: 1;
    margin-left: -1rem;
    height: 3.22rem;
    top: 0;
    width: 37.5rem;
}
@keyframes arrive {
    from{
        height: 100rem;
    }
    to{
        height: 3.22rem;
    }
}
.bandeau-open .bandeau{
    height: 100rem;
    transition: ease-in-out 100ms;
}

.citation>.citation_couverte{
    font-size: 0;
    height: 0;
    transition: all 600ms ease-in-out;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
    filter: opacity(0%);
}
.citation.active>.citation_couverte{
    font-size: 16px;

    height: 100%;
    filter: opacity(100%);
}

.citation .a-{
    display: none;
}
.citation .a\+{
    display: block;
}
.citation.active .a-{
    display: block;
}
.citation.active .a\+{
    display: none;
}


/*background*/
.menu{

    z-index: 999;
    left: 0;
    top: -250vw;
    right: 0;
    bottom: 250vw;
    position: fixed;
    transition: ease-in-out .25s;
    transition-delay: .25s;
}
.menu-open .menu{
    top: 0;
    bottom: 0;
    transition-delay: 0s;
}



/*bas-gauche*/
.menu .les-petits-articles:first-of-type{
    transform: translateX(-50vw) translateY(50vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-petits-articles:first-of-type{
    transform: translateX(0) translateY(0);

    transition-delay: .3s;
}


/*bas-droite*/
.menu .les-petits-articles:last-of-type{
    transform: translateX(50vw) translateY(50vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-petits-articles:last-of-type{
    transform: translateX(0) translateY(0);
    transition-delay: .3s;
}


/*moyen 1er*/
.menu .les-articles:first-of-type{
    transform: translateX(100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:first-of-type{
    transform: translateX(0);
    transition-delay: .3s;
}


/*moyen2eme*/
.menu .les-articles:nth-child(2n){
    transform: translateX(-100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:nth-child(2n){
    transform: translateX(0);
    transition-delay: .3s;
}


/*moyen 3eme*/
.menu .les-articles:nth-child(3n){
    transform: translateX(100vw);
    transition: ease-in-out .1s;
    transition-delay: 0s;
}
.menu-open .menu .les-articles:nth-child(3n){
    transform: translateX(0);
    transition-delay: .3s;
}


/*grand*/
.menu .les-gros-articles{
    transform: translateY(-100vw);
    transition: ease-in-out .25s;
    transition-delay: 0s;
}
.menu-open .menu .les-gros-articles{
    transform: translateY(0);
    transition-delay: .3s;
}



