.menu, .bandeau{
    background-color: #4D4848;
    border-right: 1rem solid #B3FFDB;
    border-left: 1rem solid #B3FFDB;

    width: 37.5rem;
}
.bandeau{
    position: absolute;
    z-index: 9999;
    left: 0;
    height: 3.22rem;
}
.bandeau>a{
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.bandeau>img{
    display: inline-block;
    position: absolute;
    float: right;
    margin-top: 1rem;
    margin-left: 31rem;
}
.menu .gros a{
    display: block;
    width: 37.5rem;
    height: 23.2rem;
    background-image: url("../../img/images/sword_art_online_affiche.jpg");
    background-position: top;
    background-size: cover;
    left: -1rem;
}
.acceuil>header>.entete{
    width: 37.5rem;
    height: 63.7rem;
    padding-top: 25%;
    background-image: url("../../img/images/sword_art_online_affiche.jpg");
    background-position: top;
    background-size:135%;
    position: relative;
    left: -1rem;
    top: 0;
}

header>.entete>.logo{
    background-image: url("../../img/logo/Groupe 8.png");

    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    width: 80%;
    height: 0;
    padding-top: 48%;
    background-size: contain;
    display: block;
    margin: auto;
}


.acceuil>header>.entete>p{
    text-align: center;
    border: #eee 1px solid;
    backdrop-filter: blur(5px);
    backdrop-filter: brightness(0.5);
}
.article1,.article2,.article3{
    position: relative;
    left: -1rem;
    background-position: center;
    background-size: 100%;
    width: 37.5rem;
    height: 13.5rem;
    margin-bottom: 1rem;
}
.article1{
    background-image: url("../../img/images/elucidator.jpg");
}
.article2{
    background-image: url("../../img/images/Aincrade_destroyed.jpg");
}
.article3{
    background-image: url("../../img/images/image_début.jpg");
}