
:not(header)>:not(a)>img{
    width: 37.5rem;
    position: relative;
    left: -1rem;
}



/*entete*/
.entete{
    position: relative;
    width: 37.5rem;
    height: 23.2rem;

}
.entete>img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.acceuil>header>.entete{
    width: 37.5rem;
    height: 63.7rem;
    padding-top: 25%;
    background-image: url("../../img/images/sword_art_online_affiche.jpg");
    background-position: top;
    background-size:135%;
    position: relative;
    top: 0;
}
header>.entete>.logo{
    background-image: url("../../img/logo/Groupe 8.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    width: 80%;
    height: 0;
    padding-top: 48%;
    background-size: contain;
    margin: auto;
}

/*main*/
main{
    padding: 1rem 0;
    position: relative;
}


.les-articles{
    height: 13.5rem;
    width: 37.5rem;
}
.les-articles,.les-gros-articles,.les-petits-articles{
    margin-bottom: 1rem;
    position: relative;
    margin-left: -1rem;
    height: 13.5rem;
}
.filtre{
    width: 375px;
    height: 13.5rem;

}


.citation{
    width: 37.5rem;
    position: relative;
    left: -1rem;
    margin-bottom: 2rem;
}



/*footer*/

footer{
    background-color: #4D4848;
    padding: 1rem;
    text-align: center;
}

