/*déclarations générales*/

body{
    width: 375px;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:not(header)>:not(a)>img{
    width: 37.5rem;
    position: relative;
    left: -1rem;
}

/*entete*/
.entete{
    position: relative;
    width: 37.5rem;
    height: 23.2rem;
    left: -1rem;

}
.entete>img{
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    left: 0;
}
.acceuil .entete{
    width: 37.5rem;
    height: 63.7rem;
    padding-top: 12rem;
    background-image: url("../../img/images/sword_art_online_affiche.webp");
    background-position: top;
    background-size:135%;
    position: relative;
    top: 0;
}
.entete>.logo{
    background-image: url("../../img/logo/Groupe 8.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    width: 80%;
    height: 0;
    padding-top: 48%;
    background-size: contain;
    margin: auto;
}

/*menu*/
.menu .les-gros-articles h2{
    background-image: url("../../img/logo/Groupe 8.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    background-position: center;
}

/*main*/
main{
    padding: 1rem 0 2rem 0;
    position: relative;
}

.les-articles{
    height: 13.5rem;
    width: 37.5rem;
}
.les-articles,.les-gros-articles,.les-petits-articles{
    margin-bottom: 1rem;
    position: relative;
    margin-left: -1rem;
    height: 13.5rem;
}
.filtre{
    width: 375px;
    height: 13.5rem;

}

.citation{
    width: 37.5rem;
    position: relative;
    left: -1rem;
    margin-bottom: 5rem;
}

/*vidéo*/
.video a{
    position: absolute;
}
video{
    margin-left: -1rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    width: 37.5rem;
}

/*formulaire*/
.formulaire{
    margin: 0 auto;
    width: 30rem;
}
label {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 25rem;

}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    height: 2em;
    border: 1px solid #f8b312;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 10rem;
}
.formulaire li:nth-child(6n){
    position: relative;
    margin-bottom: 2rem;
}
#check{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 1rem;
}
.button{
    position: absolute;
    right: 1rem;
}
button {

    background-image: url("../../img/interface/envoi.svg");
    width: 4rem;
    height: 4rem;
    border-style: none;
    background-color: transparent;

}

/*footer*/
footer{
    background-color: #4D4848;
    padding: 1rem;
    text-align: center;
}

