.acceuil>header>.entete>a{
    width: 4rem;
    margin: 18rem auto 5rem auto;
    display: block;
}

/*bandeau*/
a{
    text-decoration: none;
}
.bandeau>a{
    display: inline-block;
    position: absolute;
    margin-left: 0.5rem;
    bottom: -2rem;
}
.bandeau>a:nth-child(2n){
    margin-left: 31rem;
}


/*acceuil images articles et MENU*/
.menu a,.les-articles a {
    background-position: center;
    background-size: cover;
}

.les-articles a:not(.fleche-suivant) {
    height: 13.5rem;
    width: 37.5rem;
}
.les-gros-articles,.les-gros-articles>.gros,.les-gros-articles div{
    height: 23.2rem;
    width: 37.5rem;
    background-position: top;
}
.les-petits-articles,.les-petits-articles a:not(.fleche-suivant), .les-petits-articles .filtre{
    height: 13.5rem;
    width: calc(37.5rem/2);
    display: table-cell;
}
.les-gros-articles a:last-child{
    right: 5rem;
    top: 1rem;
}
.gros{
    background-image: url("../../img/images/sword_art_online_affiche.jpg");
}
.article1{
    background-image: url("../../img/images/elucidator.jpg");
}
.article2{
    background-image: url("../../img/images/Aincrade_destroyed.jpg");
}
.article3{
    background-image: url("../../img/images/image_début.jpg");
}
.info{
    background-image: url("../../img/images/cables.jpg");
}
.autres{
    background-image: url("../../img/images/ensemble_rien_ne_peut_nous_arriver_grace_au_pouvoir_de_l_amitié.jpg");
}
.les-articles .fleche-suivant{
    right: 5rem;
    bottom: 5rem;
}




/*citation*/
.a-,.a\+{
    position: absolute;
    background-image: url("../../img/interface/bouton large.svg");
    width: 20.5rem;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    left: calc((35.5rem - 20.5rem) * 0.5);
    bottom: -2rem;
}
.bouton-large{
    display: block;
    background-image: url("../../img/interface/bouton large.svg");
    width: 20.5rem;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    left: calc((37.5rem - 20.5rem) * 0.5);
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: #eeeeee;
}

/*footer*/

footer>ul li{
    display: inline-block;
}
footer>ul li>a{
    width: 40px;
    height: 40px;
    display: block;
}
footer>ul>li:first-child{
    background-image: url("../../img/interface/mail.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
footer>ul>li:nth-child(2n){
    background-image: url("../../img/interface/instagram.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
footer>ul>li:nth-child(3n){
    background-image: url("../../img/interface/twitter.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
span{
    clip: rect(1px,1px,1px,1px);
    position: absolute;
    display: block;
}





main>a>img{
    position: absolute;
    bottom: -2rem;

}
main>.fleche-suivant>img{
    right: 1rem;
}
main>.fleche-precedant>img{
    left: 1rem;
}



/*carousel*/


.carousel a p{
    text-align: center;
    color: #f8b312;
    font-size: 2rem;
    width: 22rem;

}
.carousel li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.carousel img{
    display: block;
    width: auto;
    vertical-align: middle;
    border: none;
    max-width: 100%;
    height: 17.5rem;
    margin: auto;
}
.carousel{
    color: #f8b312;
    padding: 2rem 0;
}
.carousel-item{
    background-color: #4D4848;
    padding: 2rem 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}
.carousel-item{
    flex: 1 0;
}
::-webkit-scrollbar{
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #f8b312;
}









/*galerie*/
.galerie{
    background-color: #4D4848;
    border-left: #BFFFE4 1rem solid;
    border-right: #BFFFE4 1rem solid;
    padding-bottom: 110rem;
}
.galerie img{
    width: calc(35.5rem/2 );
    height: 235px;
    border: none;

}
.galerie li{
    width: calc(35.5rem/2 );
   display: inline-block;
}
.galerie p{
    margin-top: 2rem;
    width: calc(35.5rem/2 );
    color: #eeeeee;
    text-align: center;
}
.galerie>h2{
    color: #f8b312;
    padding-top: 5rem;
    font-size: 3rem;
    text-align: center;
}
.galerie a{

}