.acceuil>header>.entete>a{
    width: 4rem;
    margin: 18rem auto 5rem auto;
    display: block;
}

/*bandeau*/
.bandeau>a{
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.bandeau>a:nth-child(2n){
    display: inline-block;
    position: absolute;
    float: right;
    margin-top: 1rem;
    margin-left: 31rem;
}


/*acceuil images articles et MENU*/
.menu a,.les-articles a {
    background-position: center;
    background-size: cover;
}

.les-articles a:not(.fleche) {
    height: 13.5rem;
    width: 37.5rem;
}
.les-gros-articles,.les-gros-articles>.gros,.les-gros-articles div{
    height: 23.2rem;
    width: 37.5rem;
    background-position: top;
}
.les-petits-articles,.les-petits-articles a:not(.fleche), .les-petits-articles .filtre{
    height: 13.5rem;
    width: calc(37.5rem/2);
    display: table-cell;
}
.les-gros-articles a:last-child{
    right: 5rem;
    top: 1rem;
}
.gros{
    background-image: url("../../img/images/sword_art_online_affiche.jpg");
}
.article1{
    background-image: url("../../img/images/elucidator.jpg");
}
.article2{
    background-image: url("../../img/images/Aincrade_destroyed.jpg");
}
.article3{
    background-image: url("../../img/images/image_début.jpg");
}
.info{
    background-image: url("../../img/images/cables.jpg");
}
.autres{
    background-image: url("../../img/images/ensemble_rien_ne_peut_nous_arriver_grace_au_pouvoir_de_l_amitié.jpg");
}
.les-articles .fleche{
    right: 4rem;
    bottom: 5rem;
}




/*citation*/
.a-,.a\+{
    position: absolute;
    background-image: url("../../img/interface/bouton large.svg");
    width: 20.5rem;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    left: calc((35.5rem - 20.5rem) * 0.5);
    bottom: -2rem;
}
.bouton-large{
    display: block;
    background-image: url("../../img/interface/bouton large.svg");
    width: 20.5rem;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    left: calc((37.5rem - 20.5rem) * 0.5);
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: #eeeeee;
}

/*footer*/

footer>ul{
    padding: 0;
}
footer>ul li{
    display: inline-block;
    list-style: none;

}
footer>ul>li:first-child{
    background-image: url("../../img/interface/mail.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
footer>ul>li:nth-child(2n){
    background-image: url("../../img/interface/instagram.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
footer>ul>li:nth-child(3n){
    background-image: url("../../img/interface/twitter.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
span{
    clip: rect(1px,1px,1px,1px);
    position: absolute;
    display: block;
}