html{
    width: 375px;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}
:not(header)>:not(a)>img{
    width: 37.5rem;
    border-left: #B3FFDB 1rem solid;
    border-right: #B3FFDB 1rem solid;
    position: relative;
    left: -1rem;
}
body{
    width: 375px;
}

.menu{
    position: absolute;
    left: 10000px;
    display: none;
}
.bandeau{
    position: sticky;
    top: 0;
}

.acceuil>header>.entete>img{
    margin: 20rem auto 8rem auto;
    display: block;
}
