html{
    width: 375px;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}
body{
    width: 375px;
}

.menu{
    position: absolute;
    left: 10000px;
    display: none;
}
.bandeau{
    position: sticky;
    top: 0;
}