
h1:not(.logo){
    text-align: center;

    margin: 20% 12.5%;
    padding: 1rem;
    width: 75%;
    height: 35%;
    position: absolute;

}



p  {
    width: 30rem;
    margin: auto;
}
.citation p{
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.acceuil>header>.entete>p{
    text-align: center;
    backdrop-filter: blur(5px) brightness(0.5);
}


.les-articles .article2 + h2{
    padding: 1.8rem;
}
.les-articles h2,.menu h2{
    text-align: center;
    margin: 2rem;
    left: 0;
    padding: 3rem;
}
.les-articles>h2{
    width: 33.5rem;
    height: 9.5rem;
}
.les-gros-articles>h2{
    width: 33.5rem;
    height: 19.2rem;
}
.les-petits-articles>h2{
    width: 14.75rem;
    height: 9.5rem;
}

/*footer*/
.acceuil>footer>p{
    color: #4D4848;
}
footer>p{
    color: #eeeeee;
}
