/*
color{
    color: #4D4848;
    color: #B3FFDB;
    color: #F8B312;
}*/



html{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

}



body{
    background-color: #B3FFDB;
    border-right: #4D4848 1rem solid;
    border-left: #4D4848 1rem solid;
}

.acceuil{
    background-color: #4D4848;
    border-right: #B3FFDB 1rem solid;
    border-left: #B3FFDB 1rem solid;
}
.acceuil p{
    color: #eee;
}

p  {
    color: #4D4848;
    font-size: 1.6rem;
    width: 30rem;
    margin: auto;
}
h2{
    font-family: sao_uiregular;
    color: #f8b312;
    font-size: 2.5rem;
}